<%= render partial: 'moments/menu' %>

<table class="ui celled padded table">
  <thead>
    <tr><th class="single line">Influencer</th>
    <th></th>
    <th></th>
    <th>Begin</th>
    <th>End</th>
  </tr></thead>
  <tbody>
    <% moments.each do |moment| %>
      <tr>
        <td><%= moment.influencer.name %></td>
        <td><%= moment.year_begin %></td>
        <td><%= moment.year_end %></td>
        <td class="center aligned">
          <a href="<%= routes.edit_moment_path(id: moment.id) %>" class="ui teal tiny button">Editar</a>
        </td>
        <td class="center aligned">
          <%=
            form_for :influcencer, routes.moment_path(id: moment.id), style: 'display: inline-block', method: :delete do
              submit 'Excluir', { class: "ui red tiny button" }
            end
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
