<div class="column">
  <%= render partial: 'shared/menu' %>

  <table class="ui celled padded table">
    <thead>
      <tr><th class="single line">Nome</th>
      <th>Local</th>
      <th>Ano de Início</th>
      <th>Ano de Fim</th>
      <th>Nível</th>
      <th></th>
      <th></th>
    </tr></thead>
    <tbody>
      <% influencers.each do |influencer| %>
        <tr>
          <td>
            <%= influencer.name %>
          </td>
          <td>
            <%= influencer.location %>
          </td>
          <td>
            <%= influencer.begin_at %>
          </td>
          <td>
            <%= influencer.end_at %>
          </td>
          <td>
            <%= influencer.level %>
          </td>
          <td class="center aligned">
            <a href="<%= routes.edit_influencer_path(id: influencer.id) %>" class="ui teal tiny button">Editar</a>
          </td>
          <td class="center aligned">
            <%=
              form_for :influcencer, routes.influencer_path(id: influencer.id), style: 'display: inline-block', method: :delete do
                submit 'Excluir', { class: "ui red tiny button" }
              end
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
