<!DOCTYPE html>
<html>
  <head>
    <title>Pinfluence | World's Influence</title>
    <meta name="description" content="All which has influenced the world in a map.">
    <%= favicon %>

    <%= stylesheet 'nouislider.min' %>
    <%= stylesheet 'app' %>
  </head>
  <body>
    <%= yield %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= gmaps_api_key %>"></script>

    <%= javascript 'jquery.min', 'nouislider.min', 'wNumb' %>
    <%= javascript 'search_service', 'api_service', 'map_service', 'slider_service' %>
    <%= javascript 'app' %>
  </body>
</html>
